"**/*.jsx": "webpack && echo "
"**/*.js": "webpack && echo "
"**/*.yml": "webpack && echo "
"**/*.yaml": "webpack && echo "
"**/*.scss": "sass app/sass/main.scss assets/main.css --style expanded  && echo "
