// Variables
$base-font-weight: 400;
$small-font-size: 14px;
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$text-color: #343434;
$background-color: white;
$spacing-unit: 1em;
$brand-color: #42b5fa;
$grey-color: grey;
$grey-green-light: #c4d9c1;
$grey-blue-light: #b3bec4;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark: darken($grey-color, 30%);
$purple-visited: #cb119c;
$lighten-green: #43995e;
$desktop-min-width: 768px;
$wide-desktop-min-width: 1280px;
$framework_bg_color: #eaeaea;

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    line-height: $base-line-height;
}
hr {
  height: 0.6px;
  border-color: rgba(#291f5b, 0);
  background-color: darken($grey-color, 10%);
}

/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;
    &:visited {
        color: $purple-visited;
    }
    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: darken($grey-color, 10%);
    border-left: 3px solid $grey-color;
    padding-left: 0.8em;
    margin-left: 1em;
}


$code-color: #dfdfdc;

/**
 * Code formatting
 */
pre,
code {
    border-radius: 3px;
    background-color: $code-color;
    border-radius: 3px;
    padding: 2px 5px;
}

pre {
    background: $code-color;
    padding: 2px;
    border-radius: 5px;
    > code {
      border-radius: 5px;
      white-space: pre;
      word-spacing: normal;
      word-wrap: normal;
      word-break: keep-all;
    }
}

code {
  color: #a950c3;
}
