@import "base";

.content {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  .main-body {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    // padding: $spacing-unit;
    // @media only screen and (max-width: 767px){
    //   padding: 0px;
    // }
  }
  .pagination {
    display: flex;
    align-self: center;
  }

  .page-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @media only screen and (min-width: 768px){
      max-width: 86%;
    }
    @media only screen and (min-width: 1280px){
      max-width: 66%;
    }
    .tag-label {
      margin: 3px;
    }

    .pargraph {
      padding: 5px;
    }

    .posts-page {
      width: 100%;
      justify-content: space-around;
      .posts-list {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 1em;
      }
      .right-panel {
        margin: $spacing-unit;
        text-align: center;
        display: none;
        @media (min-width: $desktop-min-width) {
          display: block;
          float: right;
          min-width: 160px;
          max-width: 220px;
        }
        @media (min-width: $wide-desktop-min-width) {
          display: block;
          float: right;
          min-width: 220px;
          max-width: 280px;
        }
      }
      .post-right-panel {
        margin: $spacing-unit;
        text-align: center;
        display: none;
        @media (min-width: 769px) {
          display: block;
          float: right;
          min-width: 160px;
          max-width: 220px;
        }
        @media (min-width: $wide-desktop-min-width) {
          display: block;
          float: right;
          min-width: 220px;
          max-width: 280px;
        }
      }
    }
    .post-item-header-tags {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
    .tag-group {
      display: flex;
      align-items: baseline;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 2px;
    }
    .rich-editor-content {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: 100%;
      min-height: 168px;
    }
  }

  .tag-button {
    margin: 2px;
  }

  .left-panel {
    display: flex;
  }

  .nav-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: baseline;
    align-items: flex-start;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
    .nav-label {
      display: flex;
      margin: 3px 0px;
      @media only screen and (min-width: 768px) {
        margin: 0px 3px;
      }
    }
  }

  .works {
    display: flex;
    padding: 1em;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .card{
      flex-direction: column;
      @media only screen and (max-width: 500px){
        max-width: 126px;
        max-height: 160px;
      }
      .imgbg {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        background-color: #546e7a;
        padding: $spacing-unit;
        img{
          @media only screen and (min-width: 500px){
            width: 200px;
            height: 200px;
          }
        }
      }
      .title_content
      {
        padding: $spacing-unit/2;
        background-color: #0091ea;
        align-items: center;
        justify-content: center;
        text-align: center;
        .header {color: #fafafa;}
      }
    }
  }
  .work-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .image {
      padding: 3px;
      @media only screen and (min-width: 500px){
        max-width: 180px;
        max-height: 180px;
      }
      @media only screen and (max-width: 500px){
        display: flex;
        width: 100%;
        align-self: center;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
