// Variables
$base-font-weight: 15px;
$small-font-size: 12px;
$base-font-size: 14px;
$base-line-height: 20px;
$base-font-family: Sans-serif, Monospace;
$text-color: #343434;
$background-color: white;
$spacing-unit: 10px;
$brand-color: #42b5fa;
$grey-color: grey;
$grey-color-light: lighten($grey-color, 30);
$grey-color-dark: darken($grey-color, 30);
$content-width: 768px;
