// Variables
$base-font-weight: 400;
$small-font-size: 13px;
$base-font-size: 16px;
$base-line-height: 20px;
$base-font-family: "微软雅黑", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif , Monospace;
$text-color: #343434;
$background-color: white;
$spacing-unit: 0.8em;
$brand-color: #42b5fa;
$grey-color: grey;
$grey-green-light: #c4d9c1;
$grey-blue-light: #b3bec4;
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark: darken($grey-color, 30%);
$purple-visited: #cb119c;
$lighten-green: #43995e;
$content-width: 768px;
