@import "base";
@import "layout";
@import "highligh-tomorrow-night-eighties";

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

pre {
  background: #969c9f;
  padding: 2px 2px;
  border-radius: 6px;
  overflow-x:visible;
}


.content {
  display: flex;
  padding: 1em;
  min-height: 640px;
}

.footer {
  display: flex;
  align-self: flex-end;
}
