@import "base";
@import "highligh-tomorrow-night-eighties";

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.post-content {
    @mixin cal-header($baseSize) {
      $shadow-size: 0.5px;
      @if $baseSize >= 20px {
        $shadow-size: 1px;
      }
      font-size: $baseSize;
      text-shadow: $shadow-size $shadow-size $shadow-size #575757;
      @media (min-width: $desktop-min-width) {
        font-size: $baseSize+6;
      }
    };
    width: 100%;

    h1 {
      @include cal-header(30px);
    }
    h2 {
      @include cal-header(26px);
    }

    h3 {
      @include cal-header(22px);
    }

    h4 {
      @include cal-header(18px);
    }

    h5 {
      @include cal-header(16px);
    }

    h6 {
      @include cal-header(14px);
    }

    .MarkdownArea {
      @media only screen and (min-width: $desktop-min-width) {
        padding: 2*$spacing-unit;
      }
    }
}

.post-item {
  margin: 10px;
}

.content {
  display: flex;
  min-height: 100%;
  flex-direction: column;

  .main-body {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    padding: $spacing-unit;
  }

  .page-body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 768px){
      max-width: 90%;
    }

    .tag-label {
      margin: 3px;
    }

    .pargraph {
      padding: 5px;
    }

    .posts-page {
      width: 100%;
      justify-content: space-around;
      .posts-list {
        display: flex;
        flex: 1;
        flex-direction: column;
      }
      .right-panel {
        margin: $spacing-unit;
        text-align: center;
        display: none;
        @media (min-width: $desktop-min-width) {
          display: block;
          float: right;
          max-width: 240px;
        }
      }
    }
    .post-item-header-tags {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }
    .tag-group {
      display: flex;
      align-items: baseline;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 2px;
    }
  }

  .tag-button {
    margin: 2px;
  }

  .left-panel {
    display: flex;
  }

}



.footer {
  display: flex;
  align-self: stretch;
}
