@import "base";
@import "highligh-atom-one-dark";
@import "content";
@import "post";
@import "home";
@import "feature";
@import "header";
@import "footer";
@import "user";
@import "404";

body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.touchable {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.fill {
  display: flex;
  flex: 1;
}

.fillW {
  width: 100%;
}

.fillH {
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.space {
  padding: 10px;
}

.mainloading {
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
  background-color: #25252a;
  font-size: 1.2em;
  text-align: center;
}

.well {
  position: relative;
  background: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem 0;
  padding: 1em;
  border-radius: 2px;
}

.link-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  align-self: flex-start;
  max-width: 400px;
  min-height: 200px;
}

img.emoji.ui.centered.rounded.bordered.image {
  display: inline;
  border: 0px;
}

.label {
  color: #484848;
  font-size: $small-font-size;
}
