.main {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.page_content {
    display: flex;
    flex: 1;
    align-self: center;
    flex-direction: column;
    max-width: 1080px;
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.flex_column_fill {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.ant_back_top {
    bottom: 30px;
    right: 30px;
}

.ant_back_top_inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #1088e9;
    box-shadow: 0px 0px 10px #3a3a3a;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

pre {
    margin-top: 5px;
    margin-bottom: 5px;
    border-width: 1px;
    padding: 1px;
    border-radius: 5px;
}

pre > code {
    border-radius: 5px;
    white-space: pre;
    word-spacing: normal;
    word-wrap: normal;
    word-break: keep-all;
}

blockquote {
    color: #444849;
    border-left: 3px solid #c4ccce;
    padding-left: 0.8em;
    margin-left: 1em;
}
